<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>about us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><strong>TEXT UTILS </strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="http://127.0.0.1:8000/?">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                  </nav>
              </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <br>
      <br>
    <!-- content -->
    <div class = "container">
    <!-- about the website -->
    <h1> About the website </h1>
    <ul>
    <li>
    <p> <strong> <h4> hello! I am dev bhatt an upriseing CS student this is an exercise website created by me and also the frist website i ever created for the fort end i have mainly used BOOTSTRAPS and for the back end i have used DJANGO. this whole website is creted by me alone not he most ground breaking high tech website for sure but I can feel this is a start of something great. be on this jorney with me! keep following my work @insta_handle  </h4></strong></p>
    </li>
    </ul>
    <!-- Sources-->
    <h1> Sources </h1>
    <ul>
    <li>
    <p> <strong> <h4> Used bootstraps form https://getbootstrap.com/ and Django version 4.4.1 on python 3.0</h4></strong></p>
    </ul>
    <!-- contact us -->
    <h1> Contact us</h1>
    <ul>
        <li>
            <p> <strong> <h4>
            mail @gamil.com <br>
            insta handle @insta handle.com
            </h4></strong></p>
        </li>
    </ul>
    </div>

  </body>
</html>